body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }

  .content {
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }

  .footer {
    background-color: rgba(50, 50, 50, 0.5);
    color: #fff;
  }

  .btn {
    color: #ddd;
  }

  .searchbar-input {
    color: #fff;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.headertxt {
  font-size: 30px;
  transition: all 0.3s ease;
  color: #fff;
}

.header h1 {
  margin: 0;
}

.content {
  background-color: #fff;
  padding: 28px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 32px;
  padding-bottom: 50px;
}

.btn {
  display: inline-block;
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(111, 110, 110, 0.23);
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn:hover {
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.23);
}

.mainlinks {
  text-align: center;
  margin-top: 20px;
}

.footer {
  color: #fff;
  text-align: center;
  padding: 2px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.23);
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 44px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 90%;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar-left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .searchbar {
    font-size: 8px;
    max-width: 70%;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .btn {
    padding: 5px 4px;
    font-size: 16px;
  }

  .headertxt {
    font-size: 20px;
  }
}

/* Fullscreen adjustments */
body.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background-slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  opacity: 85%;
}
